h1{
    color:blueviolet
}

.bar{
    background-color:rgb(23, 241, 241);
padding: 1mm;
margin:40cm;
}

*{
    font-family: 'Open Sans', sans-serif;
}

.mainimage{
    width:10cm;
    margin-left:auto;
    margin-right:auto;
    display:block
}

p{
    background-color: coral
}